<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
   
<div class="container-flex text-center justify-content-center align-items-center" style="padding-top: 10px; padding-bottom: 20px; margin-top: 10px;vertical-align: middle;">
    <div class="row justify-content-center align-middle" style="margin-top: 10px;height:60px;">
        <div class="col-md-4 text-light" style="background:#4B088A;">
            <h4 style="margin-top:15px">Adaugati un actor</h4>
        </div>
        <div class="col-md-8">
            <h4>Search actors</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container" style="overflow-y:auto;height:450px;background: #CEECF5;">
                <form class="d-flex" action="/adauga-actori/add" method="POST">
                    {% csrf_token %}
                    <table class="table" style="margin-top: 20px;">
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Nume</td>
                            <td><input type="text" class="form-control" name="actor_name"></td>
                        </tr>  
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Prenume</td>
                            <td><input type="text" class="form-control" name="actor_firstname"></td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">CNP</td>
                            <td><input type="text" class="form-control" name="actor_CNP"></td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Telefon</td>
                            <td><input type="text" class="form-control" name="actor_phone"></td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">E-mail</td>
                            <td><input type="text" class="form-control" name="actor_email"></td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Studii</td>
                            <td><input type="text" class="form-control" name="actor_education"></td>
                        </tr> 
                        {% comment "" %}
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Strada</td>
                            <td><input type="text" class="form-control" name="reader_street"></td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Numar</td>
                            <td><input type="text" class="form-control" name="reader_street"></td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Oras</td>
                            <td><input type="text" class="form-control" name="reader_street"></td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Judet</td>
                            <td><input type="text" class="form-control" name="reader_street"></td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Sex</td>
                            <td><input type="text" class="form-control" name="reader_street"></td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Data Nasterii</td>
                            <td><input type="text" class="form-control" name="reader_street"></td>
                        </tr>
                        {% endcomment %}
                        <tr>
                            <td colspan="2"><button class="btn btn-primary" type="submit">Save</button></td>
                        </tr>
                    </table>
                </form>
                {% comment "" %}
                <ul style="text-align: left;vertical-align: middle;padding-left: 15px;">
                    <li><small>Readers should not register multiple times</small></li>
                    <li><small>Duplicate reader registrations will be deactivated</small></li>
                    <li><small>Contact information provided above must be correct and subject to verification</small></li>
                </ul>
                {% endcomment %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <nav class="navbar bg-body-light">
                    <div class="container-fluid justify-content-center align-items-center">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                          </form>
                    </div>
                </nav>
            </div>
            <div class="row" style="margin-top: 20px;">
                <p>{{actors|length}} actors presents in the database.</p>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="container" style="overflow-y: auto;height: 400px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Nume</td>
                                <td>Prenume</td>
                                <td>CNP</td>
                                <td>Telefon</td>
                                <td>Email</td>
                                <td>Studii</td>
                                <td>Actiune</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for actor in actors  %}
                                <tr>
                                    <td>{{actor.Nume}}</td>
                                    <td>{{actor.Prenume}}</td>
                                    <td>{{actor.CNP}}</td>
                                    <td>{{actor.Telefon}}</td>
                                    <td>{{actor.Email}}</td>
                                    <td>{{actor.Studii}}</td>
                                    <td><button type="button" class="btn btn-primary actor-modal-button" data-toggle="modal" data-target="#updateActorsModal" data-actor-id="{{ actor.ID }}" data-actor-nume="{{ actor.Nume }}" data-actor-prenume="{{ actor.Prenume }}" data-actor-cnp="{{ actor.CNP }}" data-actor-telefon="{{ actor.Telefon }}" data-actor-email="{{ actor.Email }}" data-actor-studii="{{ actor.Studii }}">Modificati sau stergeti</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateActorsModal" tabindex="-1" role="dialog" aria-labelledby="updateActorsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateActorsLabel">Modificati sau stergeti</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="actor-form">
                <input type="hidden" id="actor-id" name="actor_id">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nume:</label>
                    <input type="text" class="form-control" id="recipient-name" name="actor_name">
                </div>
                <div class="form-group">
                    <label for="recipient-firstname" class="col-form-label">Prenume:</label>
                    <input type="text" class="form-control" id="recipient-firstname" name="actor_firstname">
                </div>
                <div class="form-group">
                    <label for="recipient-CNP" class="col-form-label">CNP:</label>
                    <input type="text" class="form-control" id="recipient-CNP" name="actor_CNP">
                </div>
                <div class="form-group">
                    <label for="recipient-phone" class="col-form-label">Telefon:</label>
                    <input type="text" class="form-control" id="recipient-phone" name="actor_phone">
                </div>
                <div class="form-group">
                    <label for="recipient-email" class="col-form-label">E-mail:</label>
                    <input type="text" class="form-control" id="recipient-email" name="actor_email">
                </div>
                <div class="form-group">
                    <label for="recipient-education" class="col-form-label">Studii:</label>
                    <input type="text" class="form-control" id="recipient-education" name="actor_education">
                </div>
                <!-- Add similar input fields for other actor attributes -->
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
        $('.actor-modal-button').on('click', function () {
            var actorId = $(this).data('actor-id');
            var actorNume = $(this).data('actor-nume');
            var actorPrenume = $(this).data('actor-prenume');
            var actorCNP = $(this).data('actor-CNP');
            var actorTelefon = $(this).data('actor-telefon');
            var actorEmail = $(this).data('actor-email');
            var actorStudii = $(this).data('actor-studii');
            // Add similar lines for other actor attributes

            // Populate the hidden fields with actor data
            $('#actor-id').val(actorId);
            $('#recipient-name').val(actorNume);
            $('#recipient-firstname').val(actorPrenume);
            $('#recipient-CNP').val(actorCNP);
            $('#recipient-phone').val(actorTelefon);
            $('#recipient-email').val(actorEmail);
            $('#recipient-education').val(actorStudii);
            // Add similar lines for other modal fields

            // Show the modal
            $('#updateActorsModal').modal('show');
        });

        $('#actor-form').submit(function (e) {
            e.preventDefault();

            // Gather form data
            var formData = $(this).serialize();

            // Send AJAX request to your Django view
            $.ajax({
                type: 'POST',
                url: '/adauga-actori/update',
                data: formData,
                success: function (response) {
                    // Handle success
                    console.log(response);
                    $('#updateActorsModal').modal('hide');
                    // Optionally, close the modal or update the UI
                },
                error: function (error) {
                    // Handle error
                    console.log(error);
                }
            });
        });
    });
</script>

 {% endblock main_content %}