<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <img src="{% static '/images/logo.png' %}" class="rounded float-start" alt="logo" height="200" style="margin-right: 20px;" />
            <h1 class="display-4">Aplicatie de gestiune a teatrului</h1>
            <p>Bine ai venit pe pagina de gestiune a teatrului nostru. Aici vei putea adauga, modifica si sterge informatii din baza de date a intreprinderii.</p>
           <p><a role="button" href="/adauga-spectacole" class="btn btn-primary btn-lg">Vezi spectacolele curente >></a><p>

        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Scopul aplicatiei</h2>
                <p>Rolul unei aplicatii de gestionare a bazei de date in cadrul unui teatru este esential pentru eficientizarea si optimizarea operatiunilor interne. Prin facilitarea accesului la date relevante, se pot
                   gestiona eficient intreprinderii. </p>
          </div>
          <div class="col">
            <h2>Beneficii</h2>
                <ul>
                    <li> Simplificarea și automatizarea sarcinilor administrative</li>
                    <li>Creșterea eficienței comunicării între membrii echipei, facilitând schimbul de informații și colaborarea între departamentele teatrului</li>
                    <li> Facilitarea colaborării între actori, regizori și echipa tehnică prin gestionarea distribuțiilor, programărilor și a altor informații relevante</li>
                    <li> Generarea rapoartelor și a analizelor pentru a oferi o viziune cuprinzătoare asupra activității teatrului, sprijinind procesul decizional al echipei de conducere</li>
                </ul>

          </div>
          
        </div>
        <hr>
      </div>
</main>

 <footer class="container">
     <p>Teatru 2023</p>

</footer>
    
 {% endblock main_content %}