<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}

<div class="container-flex text-center justify-content-center align-items-center" style="padding-top: 10px; padding-bottom: 20px; margin-top: 10px;vertical-align: middle;">
    <div class="row justify-content-center align-middle" style="margin-top: 10px;height:60px;">
        <div class="col-md-4 text-light" style="background:#4B088A;">
            <h4 style="margin-top:15px">Adauga un spectacol</h4>
        </div>
        <div class="col-md-8">
            <h4>Cauta spectacole</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container" style="overflow-y:auto;height:595px;background: #CEECF5;">
                <form class="d-flex" action="/adauga-spectacole/add" method="POST">
                    {% csrf_token %}
                    <table class="table" style="margin-top: 20px;">
                         {% comment "" %}
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Nume</td>
                            <td><input type="text" class="form-control" name="show_name"></td>
                        </tr>  
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Autor</td>
                            <td><input type="text" class="form-control" name="show_author"></td>
                        </tr> 
                        {% endcomment %}
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Piesa</td>
                            <td><select class="form-control" name="play_name">
                                {% for play in plays  %}
                                <option value="{{ play.Nume }}">{{play.Nume}}</option>
                                {% endfor %}
                                </select>
                           </td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Regie</td>
                            <td><select class="form-control" name="director_name">
                                {% for employee in employees  %}
                                {% if employee.Functie == "Regizor" %}
                                <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                           </td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Scenografie</td>
                            <td><select class="form-control" name="scenographer_name">
                                {% for employee in employees  %}
                                {% if employee.Functie == "Scenograf" %}
                                <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                           </td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Productie</td>
                            <td><select class="form-control" name="producer_name">
                                {% for employee in employees  %}
                                {% if employee.Functie == "Producator" %}
                                <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                           </td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Sunet</td>
                            <td><select class="form-control" name="sound_name">
                                {% for employee in employees  %}
                                {% if employee.Functie == "Operator sunet" %}
                                <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                           </td>
                        </tr> 

                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Lumini</td>
                            <td><select class="form-control" name="lights_name">
                                {% for employee in employees  %}
                                {% if employee.Functie == "Operator lumini" %}
                                <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                           </td>
                        </tr> 
                        <tr>
                            <td style="text-align: left;vertical-align: middle; padding-left: 15px;">Costume</td>
                            <td><select class="form-control" name="costume_name">
                                {% for employee in employees  %}
                                {% if employee.Functie == "Costumier" %}
                                <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                                {% endif %}
                                {% endfor %}
                                </select>
                           </td>
                        </tr> 
                        <tr>
                            <td colspan="2"><button class="btn btn-primary" type="submit">Save</button></td>
                        </tr>
                    </table>
                </form>
                {% comment "" %}
                <ul style="text-align: left;vertical-align: middle;padding-left: 15px;">
                    <li><small>Readers should not register multiple times</small></li>
                    <li><small>Duplicate reader registrations will be deactivated</small></li>
                    <li><small>Contact information provided above must be correct and subject to verification</small></li>
                </ul>
                {% endcomment %}
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <nav class="navbar bg-body-light">
                    <div class="container-fluid justify-content-center align-items-center">
                        <form class="d-flex" role="search" action="/adauga-spectacole/search" method="POST">
                            {% csrf_token %}
                            <input class="form-control me-2" type="search" placeholder="Cauta" aria-label="Search" name="search_name">
                            <button class="btn btn-outline-primary" type="submit">Cauta</button>
                          </form>
                    </div>
                </nav>
            </div>
            <div class="row" style="margin-top: 20px;">
                <p>{{shows|length}} spectacole in baza de date.</p>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="container" style="overflow-y: auto;height: 400px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Piesa</td>
                                <td>Autor</td>
                                <td>Gen</td>
                                <td>Regizor</td>
                                <td>Scenograf</td>
                                <td>Producator</td>
                                <td>Sunet</td>
                                <td>Lumini</td>
                                <td>Costume</td>
                                <td>Actiune</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for show in shows  %}
                                <tr>
                                    <td>{{show.Nume}}</td>
                                    <td>{{show.Autor}}</td>
                                    <td>{{show.Gen}}</td>
                                    <td>{{show.Regizor}}</td>
                                    <td>{{show.Scenograf}}</td>
                                    <td>{{show.Producator}}</td>
                                    <td>{{show.Sunet}}</td>
                                    <td>{{show.Lumini}}</td>
                                    <td>{{show.Costume}}</td>
                                    <td><button type="button" class="btn btn-primary show-modal-button" data-toggle="modal" data-target="#updateShowsModal" data-show-id="{{ show.ReprezentatieID }}" data-play-id="{{ show.PiesaID }}" data-show-nume="{{ show.Nume }}" data-show-autor="{{ show.Autor }}" data-show-gen="{{ show.Gen }}" data-show-regizor="{{ show.Regizor }}" data-show-scenograf="{{ show.Scenograf }}" data-show-producator="{{ show.Producator }}" data-show-sunet="{{ show.Sunet }}" data-show-lumini="{{ show.Lumini }}" data-show-costume="{{ show.Costume }}">Modificati sau stergeti</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateShowsModal" tabindex="-1" role="dialog" aria-labelledby="updateShowsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateShowsLabel">Modificati sau stergeti</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="show-form" action="/adauga-spectacole/update" method="POST">
                {% csrf_token %}
                <input type="hidden" class="form-control" id="show-id" name="show_id">
                <input type="hidden" class="form-control" id="play-id" name="play_id">
                <div class="form-group">
                    <label for="show-recipient-name" class="col-form-label">Piesa:</label>
                    <select class="form-control" id="show-recipient-name" name="play_name">
                        {% for play in plays  %}
                            <option value="{{ play.Nume }}">{{play.Nume}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="show-recipient-director" class="col-form-label">Regie:</label>
                    <select class="form-control" id="show-recipient-director" name="director_name">
                        {% for employee in employees  %}
                        {% if employee.Functie == "Regizor" %}
                        <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="show-recipient-scenographer" class="col-form-label">Scenografie:</label>
                    <select class="form-control" id="show-recipient-scenographer" name="scenographer_name">
                        {% for employee in employees  %}
                        {% if employee.Functie == "Scenograf" %}
                        <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                </div>
                <div class="form-group">
                    <label for="show-recipient-producer" class="col-form-label">Productie:</label>
                    <select class="form-control"  id="show-recipient-producer" name="producer_name">
                        {% for employee in employees  %}
                        {% if employee.Functie == "Producator" %}
                        <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                </div>
                <div class="form-group">
                    <label for="show-recipient-sound" class="col-form-label">Sunet:</label>
                    <select class="form-control" id="show-recipient-sound" name="sound_name">
                        {% for employee in employees  %}
                        {% if employee.Functie == "Operator sunet" %}
                        <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                </div>
                <div class="form-group">
                    <label for="show-recipient-lights" class="col-form-label">Lumini:</label>
                    <select class="form-control" id="show-recipient-lights" name="lights_name">
                        {% for employee in employees  %}
                        {% if employee.Functie == "Operator lumini" %}
                        <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                </div>
                <div class="form-group">
                    <label for="show-recipient-costume" class="col-form-label">Costume:</label>
                    <select class="form-control" id="show-recipient-costume" name="costume_name">
                        {% for employee in employees  %}
                        {% if employee.Functie == "Costumier" %}
                        <option value="{{ employee.NumeComplet }}">{{employee.NumeComplet}}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" data-action="/adauga-spectacole/update">Adauga modificari</button>
                    <button class="btn btn-secondary" type="submit" data-action="/adauga-spectacole/delete">Sterge</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>

                </div>
            </form>

            <form id="show-form-delete" action="/adauga-spectacole/delete" method="POST">
                {% csrf_token %}
                <input type="hidden" class="form-control" id="show-id-delete" name="show_id">
            </form>
            
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
        var referringPage;
        $('.actor-modal-button').on('click', function () {
            referringPage  = window.location.href;
            var showId = $(this).data('show-id');
            var playId = $(this).data('play-id');
            var showNume = $(this).data('show-nume');
            var showRegizor = $(this).data('show-regizor');
            var showScenograf = $(this).data('show-scenograf');
            var showProducator = $(this).data('show-producator');
            var showSunet = $(this).data('show-sunet');
            var showLumini = $(this).data('show-lumini');
            var showCostume = $(this).data('show-costume');
            // Add similar lines for other actor attributes

            // Populate the form fields with actor data
            $('#show-id').val(actorId);
            $('#play-id').val(playId);
            $('#show-recipient-name').val(showNume);
            $('#show-recipient-director').val(showRegizor);
            $('#show-recipient-scenographer').val(showScenograf);
            $('#show-recipient-producer').val(showProducator);
            $('#show-recipient-sound').val(showSunet);
            $('#show-recipient-lights').val(showLumini);
            $('#show-recipient-costume').val(showCostume);
            // Add similar lines for other modal fields

            // Update the dropdown options
           // updateDropdownOptions('show-recipient-name', showNume);
          //  updateDropdownOptions('show-recipient-director', showRegizor);
          //  updateDropdownOptions('show-recipient-scenographer', showScenograf);
          //  updateDropdownOptions('show-recipient-producer', showProducator);
          //  updateDropdownOptions('show-recipient-sound', showSunet);
          //  updateDropdownOptions('show-recipient-lights', showLumini);
          //  updateDropdownOptions('show-recipient-costume', showCostume); 

            // Show the modal
        $('#updateShowsModal').modal('show');
        });

        $('#updateShowsModal').on('hidden.bs.modal', function () {
            // Navigate back to the previous page when the modal is closed
            history.replaceState(null, null, referringPage);
        });
            
        $('#updateActorsModal').on('submit', '#show-form', function () {
            // Submit the form to the appropriate URL based on the button clicked
            var action = $(this).find('button:focus').data('action');
            $(this).attr('action', action);
        });

        //function updateDropdownOptions(dropdownId, currentValue) {
        //    var dropdown = $('#' + dropdownId);
      //      dropdown.empty();
      //      dropdown.append('<option value="' + currentValue + '">' + currentValue + '</option>');
     //       
            // Add other options based on your original logic
    //        {% for play in plays  %}
    //            {% if play.Nume != currentValue %}
     //               dropdown.append('<option value="{{ play.Nume }}">{{ play.Nume }}</option>');
      //          {% endif %}
      //      {% endfor %}
      //  }

    });
</script>

{% endblock main_content %}



