{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'app.css' %}"> {% endcomment %}
    {% block css_files %}{% endblock css_files %}
</head>
<body>
   <header id="main-navigation">
        {% comment %} <h1><a href="{% url "starting-page" %}">Teatru</a></h1> {% endcomment %}
        <nav>
          <a href="{% url "actors-page" %}">Acasă </a>
          <a href="{% url "actors-page" %}">Actori</a>
          <a href="{% url "actors-page" %}">Echipa tehnică</a>
        </nav>
      </header> 
      
    {% block content %}
    {% endblock content %}
</body>
</html>