{% extends 'base.html' %} 
{% load static %} 

{% block title %} 
{{actor.Nume}} {{actor.Prenume}}
{% endblock %} 

{% block css_files %} 
<link rel="stylesheet" href="{% static "theater/actor_details.css" %}" /> 
{% endblock %} 

{% block content %}
<section id="summary">
  <h2>{{ actor.Nume }} {{ actor.Prenume }}</h2>
  <article>
    {% if actor.Nume == 'Ionescu' and actor.Prenume == 'Maria'%}
        <img src="{% static "theater/images/"|add:actor.Nume|add:".jpg" %}" alt= "Description of the image" />
      
    {% comment "" %}
    {% if actor.Nume == 'Ionescu' or actor.Nume == 'Radulesu' or actor.Nume == 'Florescu' %}
        <img src="{% static "theater/images/actors"|add:actor.Nume|add:".jpg" %}" alt= "Description of the image" />
    {% else %}
        <img src="{% static "theater/images/actors/Radulescu.jpg" %}" alt="Description of the image" />
    {% endif %}
     {% endcomment %}
     {% else %}
    <img src="{% static 'theater/images/actors/' %}{{ actor.ID }}.jpg" alt="Description of the image" />
    {% endif %}
    
  </article>
  
</section>

<main>
  {% comment %} {{ post.content|linebreaks }} {% endcomment %}
  {{ description }}

</main>
{% endblock %}
