{% extends 'base.html' %} 
{% load static %} 

{% block title %} 
{{actor.Nume}} {{actor.Prenume}}
{% endblock %} 

{% block css_files %} 
<link rel="stylesheet" href="{% static "theater/actor_details.css" %}" /> 
{% endblock %} 

{% block content %}
<section id="summary">
  <h2>{{ actor.Nume }} {{ actor.Prenume }}</h2>
  <article>
    {% comment %} <img src="{% static "blog/images/"|add:post.image %}" alt="{{ post.title }}" /> {% endcomment %}
    {% if actor.Nume == 'Ionescu' or actor.Nume == 'Radulesu' or actor.Nume == 'Florescu' %}
        <img src="{% static "theater/images/"|add:actor.Nume|add:".jpg" %}" alt= "Description of the image" />
    {% else %}
        <img src="{% static "theater/images/Radulescu.jpg" %}" alt="Description of the image" />
    {% endif %}
    {% comment %} <address>By {{ post.author }}</address> {% endcomment %}
    {% comment %} <div>Last updated on <time>{{ post.date|date:"d M Y" }}</time></div> {% endcomment %}
  </article>
</section>

<main>
  {% comment %} {{ post.content|linebreaks }} {% endcomment %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis
  aperiam est praesentium, quos iste consequuntur omnis exercitationem quam
  velit labore vero culpa ad mollitia? Quis architecto ipsam nemo. Odio. </p>
  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis
    aperiam est praesentium, quos iste consequuntur omnis exercitationem quam
    velit labore vero culpa ad mollitia? Quis architecto ipsam nemo. Odio. </p>
  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nobis
      aperiam est praesentium, quos iste consequuntur omnis exercitationem quam
      velit labore vero culpa ad mollitia? Quis architecto ipsam nemo. Odio. </p>

</main>
{% endblock %}
