body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #292727 ;
  /* background-color: #a7a0a0; */
}

#main-navigation {
    background-color: #000000;
    box-shadow: 0 2px 8px rgba(245, 95, 95, 0.25);
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10%; 
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
   margin-bottom: 50px;
    
  }

  #main-navigation a {
    flex: 1;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 17px;
   
    
  }

  #main-navigation a:hover,
  #main-navigation a:active {
    /* color: #a19ca3; */
    color: rgba(245, 95, 95, 0.25)
}

  #main-navigation h1 a:hover,
  #main-navigation h1 a:active {
  color: white;
}

#main-navigation nav {
  /* border-right: 50px; */
  margin-right: 50px;
}


/* Flex container for the list items */
ul.actors_list {
  list-style: none;
  padding: 25px;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border: none;
  margin: 0 auto;
  margin-left: 200px;
  /* color: rgba(245, 95, 95, 0.25); */
  color: white;
}

/* ul.actors_list:hover,
u1.actors_list:active {
  color: rgba(245, 95, 95, 0.25);
} */
/* Individual list item with flex layout */
.actors_item {
  display: flex;
  align-items: center;
  border: 1px solid #131212; /* Optional: Add a border for visual clarity */
  background-color:#131212;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-left: 10px;
  margin-bottom: 20px;
  position: relative;
}

/* Image styling */
.actors_item img {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between the image and the text */
  border: none;
}

.actors_item::before {
  content: "";
  display: block;
  padding-top: 75%; /* Adjust the padding to achieve the desired aspect ratio (e.g., 4:3) */
}

/* Inner container for the right side content */
.details {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  width: 80%;
  margin-left: 50px;
}

/* Additional styling for the headings */
.details h1,
.details h2,
.details h3 {
  margin: 0; /* Remove default margin for clean layout */
  width: 100%;
  white-space: nowrap;
}

ul a {
  color: inherit;
  text-decoration: none;
}

